body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .register-box {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .form-group {
    margin-bottom: 8px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 6px;  /* Reduced padding for smaller height */
    margin: 3px 0;  /* Reduced margin for closer spacing */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;  /* Adjusted font size */
  }
  
  .inline-group {
    display: flex;
    justify-content: space-between;
  }
  
  .inline-group .form-group {
    width: 48%;
  }
  
  .password-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 30px;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 18px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  