#main{
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}


@media (max-width: 1199px){
    #main{
        padding: 20px;
    }
}

.profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-card h4, .profile-card h5 {
    margin-bottom: 15px;
  }
  
  .profile-card .text-center {
    margin-bottom: 15px;
  }
  
  .profile-card .profile-image {
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  