#main{
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}


@media (max-width: 1199px){
    #main{
        padding: 20px;
    }
}

h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .error-border {
    border: 1px solid red !important;
  }
  
  @media (max-width: 576px) {
    .main {
      padding: 15px;
    }
  }