#main{
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

.retailer-section {
    margin-bottom: 20px;
  }
  
  .no-record-img {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
  }

@media (max-width: 1199px){
    #main{
        padding: 20px;
    }
}